/* Regole relative alla schermata di caricamento */
#schermata_caricamento
{
    width: 100%;
    height: 100%;
    position: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0.75;
}

#schermata_caricamento > img
{
    display: block;
    margin: auto;
    margin-top: 5rem;
    alignment: center;
    width: 30%;
}