<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="ml-icon" href="https://www.facebook.com/nicolaghiselliphotography/">
            <img class="img-fluid-icon"  src="img/icons/facebook.png" alt="">
        </a>
        <a class="mr-5" href="https://www.instagram.com/nicolaghiselli/?hl=it">
            <img class="img-fluid-icon"  src="img/icons/instagram.png" alt="">
        </a>
        <a class="mr-icon" href="https://www.instagram.com/nicolaghiselli_bnw/?hl=it">
            <img class="img-fluid-icon"  src="img/icons/instagram.png" alt="">
        </a>

        <a class="navbar-brand js-scroll-trigger" href="#page-top">Nicola Ghiselli Photography</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-5 mr-n5">

                <span class="mx-5"></span>

                <li class="nav-item">
                    <a lang="en" class="nav-link js-scroll-trigger" href="#services">Services</a>
                    <a lang="it" class="nav-link js-scroll-trigger" href="#services">Servizi</a>
                </li>
                <li class="nav-item">
                    <a lang="en" class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                    <a lang="it" class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <!--
               <li class="nav-item">
                 <a lang="en" class="nav-link js-scroll-trigger" href="#courses">Courses</a>
                 <a lang="it" class="nav-link js-scroll-trigger" href="#courses">Corsi</a>
               </li>
               <li class="nav-item">
                 <a lang="en" class="nav-link js-scroll-trigger" href="#courses">Workshops</a>
                 <a lang="it" class="nav-link js-scroll-trigger" href="#courses">Workshops</a>
               </li>
                 -->
                <li class="nav-item">
                    <a lang="en" class="nav-link js-scroll-trigger" href="#customers">Customers</a>
                    <a lang="it" class="nav-link js-scroll-trigger" href="#customers">Clienti</a>
                </li>
                <li class="nav-item">
                    <a lang="en" class="nav-link js-scroll-trigger" href="#experiences">Experiences</a>
                    <a lang="it" class="nav-link js-scroll-trigger" href="#experiences">Esperienze</a>
                </li>
                <li class="nav-item">
                    <a lang="en" class="nav-link js-scroll-trigger" href="#team">Team</a>
                    <a lang="it" class="nav-link js-scroll-trigger" href="#team">Squadra</a>
                </li>
                <li class="nav-item">
                    <a lang="en" class="nav-link js-scroll-trigger" href="#about">About</a>
                    <a lang="it" class="nav-link js-scroll-trigger" href="#about">Info</a>
                </li>
                <li class="nav-item">
                    <a lang="en" class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    <a lang="it" class="nav-link js-scroll-trigger" href="#contact">Contatti</a>
                </li>
                <span class="mx-5"></span>
                <span class="mx-5"></span>

                <li class="nav-item dropdown ml-lg-5 mr-lg-n5" id="dropdown09">
                    <a lang="en" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <!--id="dropdown09"-->
                        <span class="flag-icon flag-icon-gb"  href="#" hreflang="en" onclick="setLang('en'); return false"> </span> English
                    </a>
                    <a lang="it" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <!--id="dropdown09"-->
                        <span class="flag-icon flag-icon-it"  href="#" hreflang="it" onclick="setLang('it'); return false"> </span> Italiano
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <!--              <a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-fr"> </span>  French</a>-->
                        <a class="dropdown-item" href="#" lang="en" hreflang="it" onclick="setLang('it'); return false"> <span class="flag-icon flag-icon-it"> </span>  Italiano </a>
                        <a class="dropdown-item" href="#" lang="it" hreflang="en" onclick="setLang('en'); return false"> <span class="flag-icon flag-icon-gb"> </span>  English </a>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</nav>